.notes{
margin-left: 0;
list-style: none;
counter-reset: li;
}
.notes td {
position: relative;
margin-bottom: 1.5em;
border: 3px solid #D8BFD8;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
.notes td:before {
position: absolute;
top: -0.7em;
padding-left: 0.4em;
padding-right: 0.4em;
font-size: 16px;
font-weight: bold;
color: #DCC24B;
background: #FEFEFE;
border-radius: 50%;
}
.notes td:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}
a{
	text-decoration: none;
}
img{
	height: 50px;
	width: 50px;
}

.perfumes{
margin-left: 0;
list-style: none;
}
.perfumes li {
position: relative;
margin-bottom: 1.5em;
border: 3px solid #D8BFD8;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
.perfumes li:before {
position: absolute;
top: -0.7em;
padding-left: 0.4em;
padding-right: 0.4em;
font-size: 16px;
font-weight: bold;
color: #DCC24B;
background: #FEFEFE;
border-radius: 50%;
}

.perfumes li:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
}
.perfumes td{
	padding: 5px; 
    vertical-align: top;
}
