<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
		<header id="header" class="white" >
			<div id="topic">PERFUME PROJECT</div>
		</header>
		<section id="menu"  class="white">
			<div class="category-wrap">
				<h3>Menu</h3>
				<ul>
					<li>
						<a routerLink="/perfumes">Perfumes</a>
					</li>
					<li>
						<a routerLink="/notes">Notes</a>
					</li>
					<li>
						<a routerLink="/brands">Brands</a>
					</li>
					<li>
						<a>Countries</a>
					</li>
				</ul>
			</div>
		</section>
		<section id="content"  class="white">
			<router-outlet></router-outlet>
		</section>
		<footer id="footer"  class="white">
		
		</footer>
</div>

